[project]
name = "trauma-thompson"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "av>=16.0.1",
    "mlflow>=3.6.0",
    "seaborn>=0.13.2",
]
